/*
<link rel="stylesheet" href="https://use.typekit.net/tbn2zsb.css">

FreightText Pro Book 
font-family: freight-text-pro, serif; 
font-weight: 400; 
font-style: normal; 
FreightText Pro Book Italic 
font-family: freight-text-pro, serif; 
font-weight: 400; 
font-style: italic; 
FreightText Pro Bold 
font-family: freight-text-pro, serif; 
font-weight: 700; 
font-style: normal; 
FreightText Pro Bold Italic 
font-family: freight-text-pro, serif; 
font-weight: 700; 
font-style: italic; 

*/

body {
    font-family: freight-text-pro, serif; 
    font-weight: 400; 
    font-style: normal;
}

img {
    width: 100%;
}

h1 {
    text-transform: uppercase;
    font-size: 35px;
    line-height: 32px;
}

h1:after {
   
}

h2 {
    font-weight: 400;
    font-size: 30px;
    line-height: 42px;
}

p {
    font-size: 18px;
    line-height: 28px;
}

a {
    color: rgb(201,43,46);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}




.menubar {
    display: flex;
 }

nav {
     margin-top: 5px;
  
}

nav li {
    font-family: freight-micro-pro, serif;
    font-weight: 400;
    font-style: normal;
    display: inline;
      text-transform: uppercase;
    font-size: 12px;
    margin: 1px 4px;

}

nav li:hover {
}

nav a {
    color: black;
     padding: 10px 0;
    margin: 0 10px;
  
}

nav a:hover, a:active {
    text-decoration: none;
    color: rgb(201,43,46);
    border-bottom: 1px solid rgb(201,43,46);
}


.small_logo /* only mobile */ {
    display: none;
}

.logo {   
    width: 170px; 
    height: 52px;
    /* why does this break in safari, without the height??? */
    margin: 12px;
}

.center {
    text-align: center;
}

.mainbody {
    display: flex;
    padding: 0 20px;
}

.mainbody_images {
    margin: 20px;
    width: 50%;
}

.featured_image /* main image */ {
    
}

.thumbnails /* group of thumbnails */ {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.tn /* individual tn (img.tn) */ {
    width: 115px;
    height: 150px;    
    margin: 5px 3px;    
}

.mainbody_text {
   
    width: 50%;
  
}

.sidebar {
   width: 25%; 
    
}

.sidebar_item {
    background-color: #dddddd;
    padding: 10px;
    margin: 20px 0;
    border-radius: 8px;
}

.sidebar_mobile /* only appears on mobile */ {
    display: none;
}


footer {
        padding: 0 20px;
        border-top: 1px solid rgb(201,43,46);
        font-size: 9pt;
        line-height: 10pt;
        text-align: center;
}

footer p {
        font-size: 9pt;
        line-height: 10pt;
        text-align: center;
}

.heart_red {
    color: rgb(201,43,46);
}

/* ///////////// RESPONSIVE OVERRIDES  ///////////// */
/* default wide screen */

/* smaller monitor and ipad */

@media only screen and (max-width: 1032px) {
    
    .mainbody {
        padding: 0 10px;
    }
    
    footer {
        padding: 0 10px;
 
    }

    h1 {
        font-size: 22pt;
        line-height: 24pt;
    }
    
    
    h2 {
        font-size: 18pt;
        line-height: 20pt;
    }

    p {
        font-size: 12pt;
        line-height: 15pt;
    }
    


    
    .tn /* individual tn (img.tn) */ {
        width: 100px;
        height: 130px;    
        margin: 5px 3px;    
    }

    .mainbody_text {
        width: 60%;  
    }
    .mainbody_images {
        width: 40%;
    }
}

/* iPhone horizontal and vertical? */
@media only screen and (max-width : 812px)  {



    .menubar {
        display: none;
    }
 

    .small_logo {   
        width: 120px; 
        height: 38px;
        /* why does this break in safari, without the height??? */
        margin: 12px;
        display: block;
    }
    
    .tn /* individual tn (img.tn) */ {
        width: 60px;
        height: 79px;    
        margin: 5px 1px;    
    }
}

/* iPhone vertical only */
@media only screen and (max-width : 812px) and (orientation: portrait) { 
    

 
    .mainbody_text {
        width: 60%;  
    }
    .mainbody_images { 
        width: 40%;
        margin-right: 0;
    }

    .sidebar {
        display:none;
    }
    
    .sidebar_mobile {
        display: block;
    }
    
}
